{{#if label}}
  <label>{{label}}</label>
{{/if}}
<div class="daterangepicker-input form-control">hey! 
  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;{{rangeText}}
</div>
<div class="hide">
  {{input value=start}}
  {{input value=end}}
</div>
